<!-- card.component.html -->
<div class="moitie-gauche">
          <div class="card">
            <!-- Display dynamic content -->
            <div class="front">
              <div class="cover">
                <img src="\assets\images\rotating_card_thumb2.png">
              </div>
              <div class="user">
                <img class="img-circle" src="assets\images\haykel.jpg">
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">{{ cardData.nom }} {{ cardData.prenom }}</h3>
                  <!-- Display other properties -->
                </div>
                <div class="footer">
                  <i class="fa fa-mail-forward"></i> Auto Rotation
                </div>
              </div>
            </div>
            <!-- Add other card content here -->
          </div>
        </div>
        