.container {
  display: flex;
}

.moitie-droite {
  width: 50%;
  padding: 10px;
}

.moitie-gauche {
  width: 50%;
  padding: 10px;
  border-left: 1px solid #ccc; /* Ajoutez une bordure entre les deux moitiés */
}
